__pycache__
GO-SLAM
*.pth
*.pt
*.pyc
*.ckpt
keyframeidx.txt
SUMMARY
.vscode
*.code-workspace
*test.sh
build
log
evaluate_on*
depth_estimator
wandb
cull_replica_mesh
*.egg*
mono_priors
test_*
*_cupy.py
euler
scannet_*.txt
download_scannet.py

.idea
output
jobfiles